
  .padding{
    padding: 10px;
  }
  .d-flex{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
  }
  h1{
    font-weight: bold;
    font-family: "Lucida Handwriting";
    color:white
  }
  span{
    display: block;
    color: white;
  }
  .width{
    max-width: 360px;
  }
  body {
    background-color: #DBF9FC;
    }