

<div class="parentDiv">
    <div class="row center">
        <div class="col wordStyle" style="background-color: #FFFFFF;">
            <h1 class="h1Style">Explore Best Property</h1>
            <p> You can save your favocior property here</p>
        </div>
        <div class="col">
            <div>
                <!-- <img [src]='imgeSrc'> -->
            </div>
            <br>
            <div>
                <!-- <img [src]='imgeSrc'> -->
            </div>
        </div>
    </div>
</div>
